<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <!-- navbar -->
    <%- include("partials/navbar") %>
    <!-- end navbar -->

    <!-- main -->
    <main>
        <!-- header -->
        <%- include("partials/header") %>
        <!-- end header -->

        <!-- home -->
        <section>
            <div class="container-fluid" id="about">
                <div class="row bg-dark text-white p-5 text-center">
                    <div class="col-md-4 offset-md-4">
                        <h3>Lorem, ipsum dolor.</h3>
                        <p>
                            Elit exercitationem id illo sit distinctio. Deserunt ut debitis
                            voluptates mollitia dignissimos eligendi vel quidem itaque dolores
                            ratione ut. Soluta accusantium dolor nemo suscipit rerum. Aliquid
                            quasi excepturi provident eos.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end home -->
    </main>
    <!-- end main -->

    <!-- footer -->
    <%- include("partials/footer") %>
    <!-- end footer -->

    <!-- scripts -->
    <%- include("partials/scripts") %>
    <!-- end scripts -->
</body>

</html>